<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project0226</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<!-- 这里的servletname必须和servlet-mapping里面的servletname的值相同 -->
  	<servlet-name>林方祥</servlet-name>
  	<!-- 这里写的就是 包名+类名，也就是我们需要访问的servlet的类 -->
  	<servlet-class>org.lgs.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<!-- 这里的servletname随便写，写什么都可以 -->
  	<servlet-name>林方祥</servlet-name>
  	<!-- 这里配置的就是你需要请求的url信息了，就是ajax的url的值，并且前面加一个斜杆 -->
  	<url-pattern>/adminLogin</url-pattern> 
  </servlet-mapping>
</web-app>